modules = ["python-3.11", "postgresql-16"]

[nix]
channel = "stable-25_05"
packages = ["cairo", "chromedriver", "chromium", "ffmpeg-full", "freetype", "geckodriver", "ghostscript", "glibcLocales", "gobject-introspection", "gtk3", "libxcrypt", "pkg-config", "qhull", "sqlite", "tcl", "tk", "xcodebuild", "xsimd", "zlib", "railway"]

[deployment]
deploymentTarget = "autoscale"
run = ["streamlit", "run", "app.py", "--server.port", "5000"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Real Football Dashboard"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Combined Sports Engine"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "College Basketball Dashboard"

[[workflows.workflow]]
name = "Real Football Dashboard"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "streamlit run pgr_dashboard_demo.py --server.port 5000"
waitForPort = 5000

[[workflows.workflow]]
name = "Combined Sports Engine"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 combined_sports_runner.py"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "College Basketball Dashboard"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "streamlit run college_basket_dashboard.py --server.port=6000 --server.address=0.0.0.0 --server.headless=true"
waitForPort = 6000

[workflows.workflow.metadata]
outputType = "console"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 33251
externalPort = 8099

[[ports]]
localPort = 35431
externalPort = 3002

[[ports]]
localPort = 35511
externalPort = 8080

[[ports]]
localPort = 36445
externalPort = 6000

[[ports]]
localPort = 37557
externalPort = 3003

[[ports]]
localPort = 39489
externalPort = 6800

[[ports]]
localPort = 40511
externalPort = 3001

[[ports]]
localPort = 40633
externalPort = 3000

[[ports]]
localPort = 40887
externalPort = 8081

[[ports]]
localPort = 41621
externalPort = 5173

[[ports]]
localPort = 42973
externalPort = 4200

[[ports]]
localPort = 43207
externalPort = 8000

[[ports]]
localPort = 44535
externalPort = 5000

[[ports]]
localPort = 45649
externalPort = 9000

[[ports]]
localPort = 46291
externalPort = 8008

[agent]
integrations = ["web_scraper==1.0.0"]
